name: Publish

on:
  workflow_run:
    workflows: ["CI"]
    types:
      - completed
    branches: [main, develop]

env:
  PYTHON_VERSION: "3.11"

jobs:
  publish:
    runs-on: ubuntu-latest

    # CI must succeed AND CI must be triggered from a release event and the release must be published
    if: >
      ${{ github.event.workflow_run.conclusion == 'success' &&
          github.event.workflow_run.event == 'release' &&
          github.event.workflow_run.action == 'published' }}

    environment:
      name: pypi
      url: https://pypi.org/p/autofex

    steps:
      - name: Checkout source used by CI run
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.workflow_run.head_branch }}

      - name: Download dist artifact from CI run
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist/
          github-token: ${{ secrets.GITHUB_TOKEN }}
          repository: ${{ github.repository }}
          run-id: ${{ github.event.workflow_run.id }}

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install twine

      - name: Check package
        run: python -m twine check dist/*

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: ${{ secrets.PYPI_USERNAME }}
          password: ${{ secrets.PYPI_PASSWORD }}
